[Unit]
Description=Stamatolog Gunicorn daemon
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/stamatolog
Environment="PATH=/var/www/stamatolog/venv/bin"
ExecStart=/var/www/stamatolog/venv/bin/gunicorn \
          --workers 3 \
          --bind 127.0.0.1:8070 \
          config.wsgi:application

[Install]
WantedBy=multi-user.target
