[Unit]
Description=Stamatolog Gunicorn daemon
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/home/ubuntu/app/Stamatolog
Environment="PATH=/home/ubuntu/app/Stamatolog/venv/bin"
ExecStart=/home/ubuntu/app/Stamatolog/venv/bin/gunicorn \
          --workers 3 \
          --bind 127.0.0.1:8070 \
          config.wsgi:application

[Install]
WantedBy=multi-user.target
